<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brand-admin</title>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>

<body>
    <%- include("../partials/header") %>
    <main>        


      <table class="table" >
        <tbody>
        <tr class="table-active">
            <th>ID</th>
            <th >nome</th>
            <th >descricao</th>
            <th >valor</th>
            <th >acos</th>
        </tr>

            <% categorias.produtos.forEach(function(produtos){ %> 
            <tr>
              <td><%= produtos.id  %> </td>
              <td><%= produtos.nome  %>  </td>
              <td><%= produtos.descricao  %></td>
              <td><%= produtos.valor  %></td>
              <td>
                <a href="/adminempresa/produtos/<%= produtos.id %>/editar">Editar</a>
                
              </td>
            </tr>
          
        <% })%>
        </tbody>
      </table> 
          
      </section>
 
  <a href="/admin/produtos/criar">Novo serviço</a>
</main>
    <%- include("../partials/footer") %>
</body>

</html>