<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/form-produto.css">

 
</head>

<body> 
    <%- include("../partials/header") %>
        <section class="contato">
            <div class="container">
                <h1>Editar de brand <%= produto.id %> </h1>

                <div class="align-row">
                    <form method="POST">
                        <label for="">Selecione uma categoria</label>
                        <select name="categoria_id" id="categoria_id"  > 
                            <% categorias.forEach(categoria => { %> 
                            <option value="<%= categoria.id %>" 
                                <% if(categoria.id == produto.categoria_id){ %>
                                 selected
                                 <% } %> 
                                 ><%= categoria.nome %></option>
                                <% }) %> 
                            </select>
                          
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" value="<%= produto.nome %>">
                        <input type="hidden" id="empresa_id" name="empresa_id" value="<%= empresa.id %>" readonly=“true”>

                        <label for="descricao">descricao</label>
                        <textarea name="descricao" id="descricao" required><%= produto.descricao %></textarea>

                        <label for="valor">Valor</label>
                        <input type="number" id="valor" name="valor" value="<%= produto.valor %>" >
                        <hr>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </section>

    <%- include("../partials/footer") %>
</body>

</html>